<!Doctype HTML>
<html ng-app="ArmSim">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"/></script>
        <script type="text/javascript" charset="utf8" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
        <script type="text/javascript" charset="utf8" src="https://code.angularjs.org/1.5.3/angular-route.js"></script>

        <!-- <script src="Dependencies/jQuery.js"/></script>
        <script src="Dependencies/angular.js"/></script> -->

        <script type="text/javascript" src="Scripts/controller.js"></script>
        <script type="text/javascript" src="Scripts/memory.js"></script>
        <script type="text/javascript" src="Scripts/assembler.js"></script>
        <script type="text/javascript" src="Scripts/simulator.js"></script>
        <script type="text/javascript" src="Scripts/other.js"></script>

        <!-- FireBase -->
        <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
        <script src="https://cdn.firebase.com/libs/angularfire/1.2.0/angularfire.min.js"></script>
        <script src="https://www.gstatic.com/firebasejs/live/3.0/firebase.js"></script>

        <!-- JQuery UI -->
        <script src="http://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />

        <!-- CodeMriror -->
        <script src="Dependencies/CodeMirror-master/lib/codemirror.js"></script>
        <link rel="stylesheet" href="Dependencies/CodeMirror-master/lib/codemirror.css">
        <script src="Dependencies/CodeMirror-master/mode/javascript/javascript.js"></script>

        <!-- ACE Editor -->
        <script src="Dependencies/ace/ace.js" type="text/javascript" charset="utf-8"></script>
        <script src="Dependencies/ace/mode-assembly_x86.js" type="text/javascript" charset="utf-8"></script>
        <script src="Dependencies/ace/theme-twilight.js" type="text/javascript" charset="utf-8"></script>
        <script src="Dependencies/ace/theme-xcode.js" type="text/javascript" charset="utf-8"></script>
        <script src="Dependencies/ace/theme-ambiance.js" type="text/javascript" charset="utf-8"></script>
        <script src="Dependencies/ace/theme-clouds_midnight.js" type="text/javascript" charset="utf-8"></script>
        <script src="Dependencies/ace/theme-github.js" type="text/javascript" charset="utf-8"></script>
        <script src="Dependencies/ace/theme-pastel_on_dark.js" type="text/javascript" charset="utf-8"></script>


        <!-- HighlightJS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.4.0/styles/default.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.4.0/highlight.min.js"></script>

        <!-- Bootstrap -->
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <!-- <link href="Dependencies/font-awesome.css" rel="stylesheet">
        <link href="Dependencies/bootstrap.css" rel="stylesheet"> -->
        <link href="Stylesheets/index.css" rel="stylesheet" type="text/css"/>
        <title>ARM Thumb Simulator</title>
    </head>

    <body ng-controller="MainController">
      <div id="page">
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
            <a style="color:white;">{{user.fname}} {{user.lname}}</a>
            <a style="cursor:pointer" ng-repeat="nav in navTitles track by $index" ng-click="goToLink($index)">{{nav}}</a>
            <a href="mailto:badr@khamissi.com?subject=ARM Thumb Simulator Bug">Report a Bug</a>
        </div>
        <nav class="navbar navbar-inverse" role="navigation" style="background-color:#black;border:0px;border-radius:0px;">
          <span style="font-size:30px;cursor:pointer;color:white; float:left; padding-top:12px; padding-left:15px" onclick="openNav()">☰</span>
            <div class="container">
                <div class="navbar-header">
                    <div class="btn-group">
                        <button type="button" class="btn btn-success navbar-btn" ng-click="run()" ><span class="glyphicon glyphicon-play"></span> {{continue}}</button>
                        <button type="button" class="btn btn-default navbar-btn" ng-click="step()"><span class="glyphicon glyphicon-forward"></span> Step</button>
                        <button type="button" class="btn btn-default navbar-btn" ng-click="reset()"><span class="glyphicon glyphicon-refresh"></span>  Reset</button>
                    </div>
                    <button type="button"  class="btn btn-default navbar-btn" ng-click="bug()"><i class="fa fa-bug" aria-hidden="true"></i> Report a Bug</button>
                </div>
                <div class="navbar-header navbar-right">
                    <a class="navbar-brand" style="color:#FFFFFF">ARM Thumb (16-bit) Simulator
                      <br><small style="float:right; font-size:10px">By Badr AlKhamissi</small>
                   </a>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="alert alert-danger" ng-hide="error === ''">{{error}}</div>
            <div class="row">
                <div class="col-lg-7 col-md-6">
                    <div class="panel panel-default" ng-hide="!isDev">
                        <div class="panel-heading" style="height:60px">
                            <h4 class="panel-title" style="display:inline-block">Code <small>(<a href="https://ece.uwaterloo.ca/~ece222/ARM/ARM7-TDMI-manual-pt3.pdf" target="_blank" style="color: #337AB7">Instruction Set</a>)</small></h4>
                            <div style="float:right; display:inline-block">
                              <button onclick="showActionDialog()" class="btn btn-primary" style="width:100px; height:30px; font-size:12px">
                                <span class="glyphicon glyphicon-share"></span> Action</button>
                            </div>
                            <div style="float:right;display:inline-block; width:10px">&nbsp;</div>
                            <div style="float:right; display:inline-block">
                              <button ng-show="isSave" ng-click="save()" class="btn btn-success" style="width:100px; height:30px; font-size:12px">
                                <span class="glyphicon glyphicon-cloud"></span> Save</button>
                            </div>
                            <br>
                            <select class="sel" style="display:inline; margin-top:7px" id="theme" onChange="changeTheme(value);">
                              <option value="0">Ambiance Theme</option>
                              <option value="1">Chrome Theme</option>
                              <option value="2">Clouds_midnight Theme</option>
                              <option value="3">Github Theme</option>
                              <option value="4">Twilight Theme</option>
                              <option value="5">Pastel on Dark Theme</option>
                              <option value="6" selected="selected">Xcode Theme</option>
                            </select>
                            <select class="sel" ng-show="hideMachineCode" style="display:inline; margin-top:7px" id="instType" onChange="displayPlaceHolder(value);">
                              <option value="0">Binary</option>
                              <option value="1">Hexadecimal</option>
                              <option value="2" selected="selected">Decimal</option>
                            </select>
                            <small style="color:black">&nbsp;&nbsp;Show Machine Code</small>
                            <input type="checkbox" ng-model="hideMachineCode"/>


                            <!-- <input class="inputfile" type="file" id="fileinput"/>
                            <script>document.getElementById('fileinput').addEventListener('change', readFile, false);</script> -->
                        </div>
                        <div class="panel-body">
                            <form role="form">
                                <textarea id="sourceCode"
                                          class="form-control source-code"
                                          placeholder="Enter Machine Code Instructions in Decimal (base 10)"
                                          style="margin-bottom:5px;"
                                          rows="15"
                                          tab-support
                                          select-line
                                          ng-hide="!hideMachineCode"></textarea>
                                <!-- <textarea id="assemblyCode"
                                          class="form-control source-code"
                                          placeholder="Enter ARM Thumb Assembly Code"
                                          style="margin-bottom:5px; color:black; width:100%;"
                                          ng-keydown="processSWI($event)"
                                          rows="40"
                                          tab-support
                                          select-line
                                          ng-mode='code'></textarea> -->
                                          <div style="height:700px;width:100%;margin-bottom:5px;font-size:16px" id="assemblyCode"></div>
                                <pre style="display:none"><code class="ARM Assembly"></code></pre>
                                <button type="button" class="btn btn-default" ng-click="assemble()"><i class="fa fa-gears" aria-hidden="true"></i> Assemble</button>
                            </form>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 style="display:inline-block; padding-right:10px" class="panel-title">GFX Display</h4><small>(320x240)&nbsp;&nbsp;&nbsp;</small>
                            2x <input type="checkbox" ng-change="zoomDisplayChanged()" ng-model="zoomDisplay"/>&nbsp;&nbsp;&nbsp;
                            Frame Rate: <input style="display:inline-block; height:20px; width:50px" class="txtbox" step="1" ng-model="frameRate" ng-change="changeFrameRate()" type="text" placeholder="Rate"/>
                            <span style="float:right">Show Display: <input type="checkbox" ng-model="showGFXDisplay"/></span>

                        </div>
                        <canvas id="monitorCanvas" ng-show="showGFXDisplay" align="center" width="640" height="480">
                          Your browser does not support the HTML5 canvas tag.
                        </canvas>
                    </div>

                    <div class="panel panel-default" ng-hide="isDev">
                        <div class="panel-heading">
                            <h4 class="panel-title" style="display:inline-block">Dubugging Mode</h4>
                            <!-- <small style="color:black; display:inline-block">&nbsp;&nbsp;Return to Editor</small> -->
                            <!-- <input type="checkbox" ng-model="isDev"/> -->
                          <div style="padding-left:320px; padding-bottom:1px; display:inline-block">
                            <button ng-click="returnToEditor()" class="btn btn-primary" style="width:130px; height:40px; font-size:12px">
                              <span class="glyphicon glyphicon-backward"></span> Return to Editor</button>
                          </div>
                        </div>
                        <div class="panel-body source-code">
                           <div class="table table-condensed table-striped">
                             <table style="color:black" class="table table-condensed table-striped">
                               <thead>
                                   <tr>
                                       <th style="text-align:center">Breakpoint</th>
                                       <th style="text-align:center">Address</th>
                                       <th style="text-align:center">Code</th>
                                       <th style="text-align:center">Source</th>
                                   </tr>
                               </thead>
                               <tbody>
                                   <tr style="text-align:center; background-color:{{code.color}}" class="source-code" ng-repeat="code in sourceCode">
                                       <td><div style="margin:auto;" ng-class="displayA && 'marker marker-a'"><input type="checkbox" ng-model="code.break"/></div></td>
                                       <td><div style="margin:auto;" ng-class="displayA && 'marker marker-a'"><small>{{ code.address | MemFilter }}</small></div></td>
                                       <td><div style="margin:auto;" ng-class="displayB && 'marker marker-b'"><small>{{ code.code | BinFilter}}</small></div></td>
                                       <td><div style="margin:auto;" ng-class="displayC && 'marker marker-c'">{{ code.source }}</div></td>
                                   </tr>
                               </tbody>
                             </table>
                           </div>
                           <button type="button" class="btn btn-success navbar-btn" ng-click="run()" ><span class="glyphicon glyphicon-play"></span> {{continue}}</button>
                           <button type="button" class="btn btn-default navbar-btn" ng-click="step()"><span class="glyphicon glyphicon-forward"></span> Step</button>
                        </div><hr>
                        <div style="color:black" class="table table-condensed table-striped">
                        <h4 class="panel-title" style="padding:5px">Software Interrupts Console</h4>
                        <textarea id="swi"
                                  class="form-control source-code"
                                  style="margin-bottom:5px; color:black; width:100%; "
                                  ng-keydown="processSWI($event)"
                                  rows="3"
                                  ng-mode='code'></textarea>
                        </div><hr>
                          <div class="panel panel-default" ng-hide="hideDataLabels">
                              <div class="panel-heading">
                                  <h4 class="panel-title">Data Labels</h4>
                              </div>
                              <div class="panel-body source-code">
                                 <div class="table table-condensed table-striped">
                                     <table style="color:black" class="table table-condensed table-striped" ng-hide="hideDataLabels">
                                       <thead>
                                           <tr>
                                               <th style="text-align:center">Label</th>
                                               <th style="text-align:center">Address</th>
                                           </tr>
                                       </thead>
                                       <tbody>
                                           <tbody>
                                               <tr style="text-align:center;" class="source-code" ng-repeat="(key, value) in dataLabels">
                                                   <td><div style="margin:auto;" ng-class="displayA && 'marker marker-a'"><small>{{ key }}</small></div></td>
                                                   <td><div style="margin:auto;" ng-class="displayB && 'marker marker-b'"><small>{{ value | HexFilter }}</small></div></td>
                                               </tr>
                                           </tbody>
                                       </tbody>
                                   </table>
                                 </div>
                              </div>
                          </div><hr>
                          <h4 class="panel-title" style="padding:5px; color:black">Generated Assembly Code</h4>
                          <div style="width:100%;margin-bottom:5px; height:300px;" id="result"></div>

                          <!-- <textarea id="result"
                                    placeholder="Generated ARM Thumb Assembly Code"
                                    style="margin-bottom:5px; color:black; width:100%;"
                                    ng-keydown="processSWI($event)"
                                    rows="10"
                                    tab-support
                                    select-line
                                    ng-mode='code'></textarea> -->
                    </div>
                </div>
                <div class="clearfix visible-xs visible-sm"></div>
                <div class="col-lg-5 col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">Output</h4>
                        </div>
                        <div class="panel-body source-code">
                          <div>
                              <span class="output" ng-repeat="out in output.slice(0,16) track by $index">
                                {{ out }}
                              </span>
                          </div>
                          <div style="padding-top:10px" ng-hide="outputIdx<16">
                              <span class="output" ng-repeat="out in output.slice(16,32) track by $index">
                                {{ out }}
                              </span>
                          </div>
                          <div style="padding-top:10px"  ng-hide="outputIdx<32">
                              <span class="output" ng-repeat="out in output.slice(32,48) track by $index">
                                {{ out }}
                              </span>
                          </div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">Condition Flags</h4>
                        </div>
                        <div class="panel-body source-code">
                           <div class="table table-condensed table-striped">
                             <table style="color:black" class="table table-condensed table-striped">
                               <thead>
                                   <tr>
                                       <th style="text-align:center">Z</th>
                                       <th style="text-align:center">C</th>
                                       <th style="text-align:center">N</th>
                                       <th style="text-align:center">V</th>
                                   </tr>
                               </thead>
                               <tbody>
                                   <tr style="text-align:center;" class="source-code">
                                       <td ng-repeat="f in flags track by $index">
                                         <div style="margin:auto;" ng-class="displayA && 'marker marker-a'"><small>{{ f }}</small></div>
                                       </td>
                                   </tr>
                               </tbody>
                           </table>
                           </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title" style="display:inline-block">Registers</h4>
                            <small style="color:black">&nbsp;&nbsp;Show High Registers</small>
                            <input type="checkbox" ng-model="showHighRegisters"/>
                        </div>
                        <div class="panel-body">
                          <table style="color:black" class="table table-condensed table-striped">
                            <thead>
                                <tr>
                                    <th style="text-align:center">Reg #</th>
                                    <th style="text-align:center">Binary</th>
                                    <th style="text-align:center">Hexadecimal</th>
                                    <th style="text-align:center">Decimal</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr style="text-align:center;" class="source-code" ng-repeat="reg in getRegs() track by $index">
                                    <td><div style="margin:auto;" ng-class="displayA && 'marker marker-a'"><small>{{ $index }}</small></div></td>
                                    <td><div style="margin:auto;" ng-class="displayB && 'marker marker-b'"><small>{{ reg | BinFilter}}</small></div></td>
                                    <td><div style="margin:auto;" ng-class="displayC && 'marker marker-c'"><small>{{ reg | HexFilter}}</small></div></td>
                                    <td><div style="margin:auto;" ng-class="displayD && 'marker marker-d'"><small>{{ reg }}</small></div></td>
                                </tr>
                                <tr style="text-align:center;" class="source-code">
                                    <td><div style="margin:auto;" ng-class="displayA && 'marker marker-a'"><small>SP</small></div></td>
                                    <td><div style="margin:auto;" ng-class="displayB && 'marker marker-b'"><small>{{ sp | BinFilter}}</small></div></td>
                                    <td><div style="margin:auto;" ng-class="displayC && 'marker marker-c'"><small>{{ sp | HexFilter}}</small></div></td>
                                    <td><div style="margin:auto;" ng-class="displayD && 'marker marker-d'"><small>{{ sp }}</small></div></td>
                                </tr>
                                <tr style="text-align:center;" class="source-code">
                                    <td><div style="margin:auto;" ng-class="displayA && 'marker marker-a'"><small>LR</small></div></td>
                                    <td><div style="margin:auto;" ng-class="displayB && 'marker marker-b'"><small>{{ lr | BinFilter}}</small></div></td>
                                    <td><div style="margin:auto;" ng-class="displayC && 'marker marker-c'"><small>{{ lr | HexFilter}}</small></div></td>
                                    <td><div style="margin:auto;" ng-class="displayD && 'marker marker-d'"><small>{{ lr }}</small></div></td>
                                </tr>
                                <tr style="text-align:center;" class="source-code">
                                    <td><div style="margin:auto;" ng-class="displayA && 'marker marker-a'"><small>PC</small></div></td>
                                    <td><div style="margin:auto;" ng-class="displayB && 'marker marker-b'"><small>{{ pc | BinFilter}}</small></div></td>
                                    <td><div style="margin:auto;" ng-class="displayC && 'marker marker-c'"><small>{{ pc | HexFilter}}</small></div></td>
                                    <td><div style="margin:auto;" ng-class="displayD && 'marker marker-d'"><small>{{ pc }}</small></div></td>
                                </tr>
                            </tbody>
                        </table>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">Software Interrupts</h4>
                        </div>
                        <div class="panel-body">
                          <table style="color:black" class="table table-condensed table-striped">
                            <thead>
                                <tr>
                                    <th style="text-align:center">SWI</th>
                                    <th style="text-align:center">Code</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr style="text-align:center;" class="source-code">
                                    <td><div style="margin:auto;"><small>Prints character in R0</small></div></td>
                                    <td><div style="margin:auto;"><small>0</small></div></td>
                                </tr>
                                <tr style="text-align:center;" class="source-code">
                                    <td><div style="margin:auto;"><small>Prints integer in R0</small></div></td>
                                    <td><div style="margin:auto;"><small>1</small></div></td>
                                </tr>
                                <tr style="text-align:center;" class="source-code">
                                    <td><div style="margin:auto;"><small>Reads integer and puts it in R0</small></div></td>
                                    <td><div style="margin:auto;"><small>2</small></div></td>
                                </tr>
                                <tr style="text-align:center;" class="source-code">
                                    <td><div style="margin:auto;"><small>Reads character and puts it in R0</small></div></td>
                                    <td><div style="margin:auto;"><small>3</small></div></td>
                                </tr>
                                <tr style="text-align:center;" class="source-code">
                                    <td><div style="margin:auto;"><small>Reads String with starting address in R0</small></div></td>
                                    <td><div style="margin:auto;"><small>4</small></div></td>
                                </tr>
                                <tr style="text-align:center;" class="source-code">
                                    <td><div style="margin:auto;"><small>Prints String with starting address in R0</small></div></td>
                                    <td><div style="margin:auto;"><small>5</small></div></td>
                                </tr>
                                <tr style="text-align:center;" class="source-code">
                                    <td><div style="margin:auto;"><small>Exit Program</small></div></td>
                                    <td><div style="margin:auto;"><small>6</small></div></td>
                                </tr>
                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 style="display:inline-block; padding-right:10px" class="panel-title">Memory</h4>
                    <p style="display:inline-block;">Size(bytes): </p>
                    <input style="display:inline-block; height:20px; width:100px" class="txtbox" step="1" ng-model="memDisplaySize" type="text" placeholder="Display"/>
                </div>
                <div class="panel-body source-code">
                  <div class="source-code">
                    <div class="memory-block" ng-repeat="m in memory.subset(0,memDisplaySize) track by $index">
                          <div>
                              <small>{{ m | MemFilter}}</small>
                          </div>
                    </div>
                  </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Convertors</h4>
                </div>
              <div class="panel-body">
                <table width="100%">
                  <tr>
                    <td>
                      <div style="display:inline">
                        <label> Convert From: </label>
                        <select class="sel" id="cvtFromType" onChange="displayPlaceHolder(value);">
                          <option value="0">Binary</option>
                          <option value="1">Hexadecimal</option>
                          <option value="2">Decimal</option>
                        </select>
                        <input class="txtbox" type="text" id="cvtFrom" placeholder="Binary"/>
                      </div>
                    </td>
                    <td align="center"><button onclick="convert()" class="btn">Convert</button></td>
                    <td>
                      <div style="float:right;">
                        <label> Convert To: </label>
                        <select class="sel" id="cvtToType" onChange="displayPlaceHolder(value);">
                          <option value="0">Binary</option>
                          <option value="1">Hexadecimal</option>
                          <option value="2">Decimal</option>
                        </select>
                        <input class="txtbox" type="text" id="cvtTo" placeholder="Hexadecimal"/>
                      </div>
                    </td>
                  </tr>
                </table>
              </div>
          </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">IEEE 754 Floating Point Convertor  <small>(Still Not Working)</small></h4>
                </div>
                <div class="panel-body">
                  <table width="70%" cellSpacing="5px" style="color:black" cellPadding="5px;" align="center" border="0">
                    <tr style="color:black">
                      <td colspan="1">S</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td colspan="8" align="center">Exponent</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td colspan="23" align="center">Mantissa</td>
                    </tr>
                    <tr>
                      <td><input type="checkbox" value="s"></td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td><input type="checkbox" value="e1"></td>
                      <td><input type="checkbox" value="e2"></td>
                      <td><input type="checkbox" value="e3"></td>
                      <td><input type="checkbox" value="e4"></td>
                      <td><input type="checkbox" value="e5"></td>
                      <td><input type="checkbox" value="e6"></td>
                      <td><input type="checkbox" value="e7"></td>
                      <td><input type="checkbox" value="e8"></td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td><input type="checkbox" value="m1"></td>
                      <td><input type="checkbox" value="m2"></td>
                      <td><input type="checkbox" value="m3"></td>
                      <td><input type="checkbox" value="m4"></td>
                      <td><input type="checkbox" value="m5"></td>
                      <td><input type="checkbox" value="m6"></td>
                      <td><input type="checkbox" value="m7"></td>
                      <td><input type="checkbox" value="m8"></td>
                      <td><input type="checkbox" value="m9"></td>
                      <td><input type="checkbox" value="m10"></td>
                      <td><input type="checkbox" value="m11"></td>
                      <td><input type="checkbox" value="m12"></td>
                      <td><input type="checkbox" value="m13"></td>
                      <td><input type="checkbox" value="m14"></td>
                      <td><input type="checkbox" value="m15"></td>
                      <td><input type="checkbox" value="m16"></td>
                      <td><input type="checkbox" value="m17"></td>
                      <td><input type="checkbox" value="m18"></td>
                      <td><input type="checkbox" value="m19"></td>
                      <td><input type="checkbox" value="m20"></td>
                      <td><input type="checkbox" value="m21"></td>
                      <td><input type="checkbox" value="m22"></td>
                      <td><input type="checkbox" value="m23"></td>
                    </tr>
                  </table><br>
                  <table width="100%" cellSpacing="5px" style="color:black" cellPadding="5px;" align="center" border="0">
                    <tr>
                      <td colspan="2">
                        <label>Binary Representation:</label>
                        <input class="txtbox" type="text" id="floatBin" style="width:80%" placeholder="Single-Precision Floating Point"/>
                      </td>
                      <td>
                        <label>Decimal Representation:</label>
                        <input class="txtbox" type="text" id="floatBin" width="220%" placeholder="Single-Precision Floating Point"/>
                      </td>
                      <td>
                        <label>Hexadecimal Representation:</label>
                        <input class="txtbox" type="text" id="floatBin" width="220%" placeholder="Single-Precision Floating Point"/>
                      </td>
                    </tr>
                    <tr>
                      <td width="25%"></td>
                      <td width="25%"></td>
                      <td width="25%"></td>
                      <td width="25%"></td>
                    </tr>
                  </table>
                </div>
              </div>
              <div class="action_dialog" style="display:none;">
                <h2 style="text-align:center">Choose Action</h2>
                <button type="button" class="btn btn-default" style="width:100%" onclick="showSamplePrograms()">Sample Programs</button><br>
                <button type="button" class="btn btn-default" style="width:100%" onclick="exportCode()">Email Code</button><br><br>
                <strong>Import Machine Code</strong><br>
                <input type="file" id="binaryFileInput" class="btn btn-default" style="width:100%"/><br>
                <script>document.getElementById('binaryFileInput').addEventListener('change', importMachineCode, false);</script>
                <strong>Import Assembly Code</strong><br>
                <input type="file" id="assemblyFileInput" class="btn btn-default" style="width:100%"/>
                <script>document.getElementById('assemblyFileInput').addEventListener('change', importAssemblyCode, false);</script>
             </div>

             <div class="sample_dialog" style="display:none;">
               <h2 style="text-align:center">Sample Programs</h2>
               <button type="button" class="btn btn-default" style="width:100%" onclick="writeFactorial()">Factorial</button><br>
               <button type="button" class="btn btn-default" style="width:100%" onclick="writeFibonnaci()">Fibonacci</button><br>
               <button type="button" class="btn btn-default" style="width:100%" onclick="writeSummation()">Summation</button><br>
               <button type="button" class="btn btn-default" style="width:100%" onclick="writePUSHPOP()">PUSH/POP</button>
            </div>

            <div id="dialog-form" title="Create New Project" style="display:none;">
            <p class="validateTips">All form fields are required.</p>
            <form>
              <fieldset>
                <label for="name">Title</label>
                <input type="text" style="width:300px;" ng-model="project.title" name="name" id="title" placeholder="Project Title" class="text ui-widget-content ui-corner-all">
                <label for="email">Description</label>
                <textarea type="text" style="width:300px;" ng-model="project.desc" class="text ui-widget-content ui-corner-all"></textarea><br>
                <input type="checkbox" ng-model="project.isPublic" checked/> Public
                <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
              </fieldset>
            </form>
          </div>

            <hr style="margin-top:10px;margin-bottom:10px;"/>
            <p><small> &copy; Badr AlKhamissi</small></p>
        </div>
      </div>
    </body>
</html>
