.CleanTxtArea{
  -webkit-box-shadow: rgb(221, 221, 221) 0px 1px 3px 0px inset;
  -webkit-transition-delay: 0s;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-property: border;
  -webkit-transition-timing-function: linear;
  border-bottom-color: rgb(204, 204, 204);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: rgb(204, 204, 204);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: rgb(204, 204, 204);
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: rgb(204, 204, 204);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-top-style: solid;
  border-top-width: 1px;
  box-shadow: rgb(221, 221, 221) 0px 1px 3px 0px inset;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  display: block;
  font-family: sans-serif;
  font-size: 13px;
  height: 200px;
  letter-spacing: normal;
  line-height: normal;
  margin-bottom: 3.200000047683716px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 3.200000047683716px;
  padding-bottom: 6px;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 6px;
  text-rendering: auto;
  transition-delay: 0s;
  transition-duration: 0.3s;
  transition-property: border;
  transition-timing-function: linear;
  vertical-align: baseline;
  width: 100%;
  word-spacing: 0px;
}

#page{
  background-color: #343d46;
  color: white;
}

.sel{
  -webkit-box-shadow: none;
  -webkit-transition-delay: 0s;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-property: border;
  -webkit-transition-timing-function: linear;
  background-color: rgb(255, 255, 255);
  border-bottom-color: rgb(204, 204, 204);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: rgb(204, 204, 204);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: rgb(204, 204, 204);
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: rgb(204, 204, 204);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top-style: solid;
  border-top-width: 1px;
  box-shadow: none;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  display: block;
  font-family: sans-serif;
  font-size: 13px;
  height: 20px;
  letter-spacing: normal;
  margin-bottom: 3.200000047683716px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 3.200000047683716px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  text-rendering: auto;
  text-transform: none;
  transition-delay: 0s;
  transition-duration: 0.3s;
  transition-property: border;
  transition-timing-function: linear;
  vertical-align: baseline;
  width: 133px;
  word-spacing: 0px;
}

#result{
  transition: all 2s;
  -webkit-transition: all 2s; /* Safari */
  font-size: 20px;
  font-weight: lighter;
  font-family: monospace;
}

label{
  color: rgb(119, 119, 119);
  display: block;
  font-family: proxima-nova, sans-serif;
  font-size: 14px;
  height: 17px;
  letter-spacing: normal;
  margin-bottom: 3.5999999046325684px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 3.5999999046325684px;
  text-rendering: auto;
  word-spacing: 0px;
}

.txtbox{
  -webkit-box-shadow: rgb(221, 221, 221) 0px 1px 3px 0px inset;
  -webkit-transition-delay: 0s;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-property: border;
  -webkit-transition-timing-function: linear;
  border-bottom-color: rgb(204, 204, 204);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: rgb(204, 204, 204);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: rgb(204, 204, 204);
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: rgb(204, 204, 204);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-top-style: solid;
  border-top-width: 1px;
  box-shadow: rgb(221, 221, 221) 0px 1px 3px 0px inset;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  display: block;
  font-family: sans-serif;
  font-size: 13px;
  height: 29px;
  letter-spacing: normal;
  line-height: normal;
  margin-bottom: 3.200000047683716px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 10px;
  padding-bottom: 6px;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 6px;
  text-rendering: auto;
  transition-delay: 0s;
  transition-duration: 0.3s;
  transition-property: border;
  transition-timing-function: linear;
  vertical-align: baseline;
  width: 220px;
  word-spacing: 0px;
}


/*.btn {
  background: #21CDB1; /* this is a green
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  font-size: 100%;
  padding: .5em 1.5em;
  border: 0 rgba(0,0,0,0);
  text-decoration: none;
  -webkit-transition: .1s linear -webkit-box-shadow;
  -moz-transition: .1s linear -moz-box-shadow;
  -ms-transition: .1s linear box-shadow;
  -o-transition: .1s linear box-shadow;
  transition: .1s linear box-shadow;
  cursor: pointer;
}*/

/*  Side Bar */
#page{
  /*transition: margin-left .5s;*/
   -webkit-transition: -webkit-transform .5s linear;
   -moz-transition: -moz-transform .5s linear;
   -ms-transition: -ms-transform .5s linear;
   -o-transition:all .5s ease-in-out;
   transition:all .5s linear;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px !important;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


button {
  background-color: #f2580b;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
  padding: 12px 24px;
  width:150px;
  height:50px;
  transition: background-color 0.5s;
}

button:hover {
  background-color: #c24609;
  transition: background-color 0.5s;
}


#simulator{
  width: 50%;
  padding: 0, 0, 40px,40px;
  background-color: black;
}

#registers{
  width: 50%;
  float:right;
  color:black;
}

#converters{
  width: 600px;
  height: auto;
  margin: 0 auto;
}

#table_id thead{
  color:white;
}

.inputfile{
  float:right;
  padding: 0;
}

.output, .output-bg {
    background-color: #DFDFDF;
}

.output {
    width: 1.5em;
    padding: 5px;
    margin-right: 2.5px;
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: center;
    color: black;
}

.memory-block {
    width: 5em;
    display: inline-block;
    text-align: center;
    color: black;
}

.monitor-block{
  width: 1em;
  height: 1em;
  display: inline-block;
  padding:0;
  margin:0;
  top:0;
  left:0;
  bottom:0;
  right:0;
  padding:0;
  border-style:none;
  border-width:0.5px;
  border-color:white;
}
